*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    background-color: #72705c;
}
.chamrtveli{
    width:500px;
    margin:100px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.natura{
    width:400px;

}
.natura img{
    width:100%;
}
.click{
    width:100%;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 900;
    text-align: center;
    padding:20px;
    background-color: #e6d964;
}
.click:hover{
    cursor:pointer;
    background-color: #fcea4a;
}